{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Funcionalidades Demo">
    <meta name="author" content="Ing Andres mauricio Zuluaga Quintero">

  
    <title>Demo Quick Help SAS</title>
  
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  
    <link href="{% static 'css/signin.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="well well-sm">
                  <form method="post" action=".">
                    <img class="rounded mx-auto d-block" src="{% static 'img/quick.png' %}" alt="" width="120" height="120">
                    <h1 class="text-center">Quick Help SAS</h1>
                    <h4 class="text-center">Seleccione Funcionalidad</h4>
                    <div class="card">
                    </div>
                      <!-- /.card-body -->
                  
                      <a href="{% url 'users_app:user-logout' %}" class="btn btn-warning btn-block" role="button" aria-pressed="true">Salir</a>
                      <!-- card-footer -->
                      <div class="card-footer">
                        <div class="mt-2 mb-2 text-center text-muted">&copy; Quick Help SAS</div> 
                      <!-- /.card-footer -->

                    </div>
                  </form>
                </div>
            </div>
        </div>
      </div>
    
 <!-- JQuery -->
 <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
 <script src="{% static 'js/popper.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
<br>

</html>
